nav {
    background:#D5D5D5;
    padding:0;
    text-align:center;
}

nav:last-child {
    margin-top:2em;
    background:#DFDFDF
}

nav a {
    height:1.2rem;
    color:#333;
    position:relative;
    display:inline-block;
    vertical-align:top;
}

nav a img {
    max-height:1.2rem;
    vertical-align:middle
}

.dlang-fr-link {
    font-weight:bold;
}

nav a:visited {
    color:#555
}

nav a:focus, nav a:hover {
    color:black
}

a {
    text-decoration:none
}

.fleche {
    color:gray;
    height:1.2rem;
    display:inline-block;
    vertical-align:top
}
