body {
	text-align:justify
}

.whata-pcode {
	white-space:pre-wrap
}

pre {
	margin:0;
}

pre.illustr {
	margin-top:0.5ex;
	margin-bottom:0.5ex;	
}

.whata ul>li {
   list-style:none;
   position:relative;
   margin-left:4ex;
}

.whata ul {
      padding-left:1ex
}

.whata ul>li:before {
   content:"–";
   white-space:pre;
   position:absolute;
   left:-3ex;
   top:0;
}

.whata-algorithmic-comment:before {
   content:"▹";
   display:inline-block;
   padding:0 0.5ex 0 1ex
}

.whata-algorithmic-comment {
   float:right
}

.whata-footnote {
   clear:both
}